h3{
    text-align: center;
    color:orange;
    padding: 20px;
    word-spacing: 10px;
    font-size: 30px;
    margin-top: 50px;
}
label{
    color:orange;
    font-weight: bold;
    padding: 5px;
    font-size: 25px;
    word-spacing: 5px;
    text-align: center;
}
input.form-control,textarea.form-control{
    color:rgb(211, 128, 4);
    background-color: transparent;
}
.form-check{
    text-align: center;
}
.form-check-input{
   margin: 10px -20px 0 0;
}
label.form-check-input{
  text-align: center;

}
.check span{
  padding: 10px;
  font-size: 15px;

}
.send{
    text-align: center;
    color:#34383c;
    width:100%;
}
@media(min-width:990px){
    .send{
        width: 125%;
    }
}