
nav.navbar.navbar-expand-lg.navbar{
    padding-bottom: 0;
}
.navbar-logo{
    padding: 15px;
    color:#f7a30a;
   font-size: 25px;
   font-weight: bold;
}

.navbar-mainbg{
    background-color: #000;
}

#navbarSupportedContent{
    overflow: hidden;
    position: relative;
}
button.navbar-toggler.collapsed,
button.navbar-toggler
{
    background-color: #333131;
}
span.navbar-toggler-icon{
    color:#c7bfbf;   
}
i.fa.fa-bars{
    font-size: 30px;
}
.navbar-nav{
    margin:5px 0 5px auto;
}
.navbar-nav .nav-link{
    color: #fff;
}

#navbarSupportedContent ul li a{
  color:#f7a30a;
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 20px;
  transition-duration: .6s;
  transition-timing-function: cubic-bezier(.68,-.55,.265,1.55);
  position: relative;
}

#navbarSupportedContent > ul >li.active > a{
    color:#fff;
    background-color: transparent;
    transition: all .7s;
}

#navbarSupportedContent a:not(:only-child):after{
    content:'\f105';
    position: absolute;
    right:20px;
    top:10px;
    font-size: 14px;
    font-family:'Font Awesome';
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: .5s;
}
#navbarSupportedContent .active > a:not(:only-child):after{
    transform: rotate(90deg);
}
/*
.hori-selector{
    display: inline-block;
    position: absolute;
    height: 100%;
    top:0px;
    left:0px;
    transition-duration: .6s;
    transition-timing-function: cubic-bezier(.68,-.55,.265,1.55);
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left{
    position: absolute;
    width:25px;
    height: 25px;
    background-color: #fff;
    bottom: 10px;
}

.hori-selector .right{
    right:-25px;
}

.hori-selector .left{
    left:-25px;
}

.hori-selector .right:before,
.hori-selector .left:before{
    content:'';
    position: absolute;
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
}

.hori-selector .right:before{
    bottom: 0;
    right: -25px;
}

.hori-selector .left:before{
    bottom: 0;
    left: -25px;
}

@media(max-width:991px){
    
nav.navbar.navbar-expand-lg.navbar{
    padding-bottom: 10px;
}
    #navbarSupportedContent ul li a{
        padding: 12px 30px;
        margin:5px auto;
    }
    .hori-selector{
        margin-top: 0px;
        margin-left: 10px;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .hori-selector .left{
        top:-25px;
        left:709px;
    }
    .hori-selector .right{
        bottom:-25px;
        right:10px
    }
    .hori-selector .left:before{
        left:-25px;
        top:-25px;
    }
    .hori-selector .right:before{
        bottom: -25px;
        left:-25px;
    }
}

*/