@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    font-family: 'Roboto',sans-serif;
    background-color: rgb(2, 2, 2);
    direction: rtl;
}

/* About page*/
.about-us{
  margin-top: 100px;
  padding: 30px;
}
.info-paragraph h2,
.info-paragraph p{
  float:right;
  text-align: center;
   padding:5px;

}
.info-paragraph{
    color:#fff;
    word-spacing: 12px;
    font-size: 25px;
    line-height: 40px;
    float:right;
    width: 100%;
    padding-top: 20px;
}
.info-video img{
  width:100%;
  height:100%;
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 10px;
  
}

.places{
  margin-top: 50px;
}
.places h2,hr{
  text-align: center;
  color:#fff;
}

.fa-motorcycle{
    padding: 10px;
    font-size: 30px;
    color: rgb(236, 120, 10);
}
.places img{
  padding: 7px;
  width:100%;
  height: 70%;
  margin: 0 0 20px 0;
  border-radius: 40px;
  border:2px solid #fff;
}
@media(min-width:992px){
  .info-video iframe{
    height: 120%;
  }
}
@media(max-width:768px){
  .info-video iframe{
    height: 62%;
    margin-top: 50px;
  }
}

@media(max-width:576px){
  .info-video iframe{
    height: 120%;
    margin-bottom: 50px;
  }
}
@media(max-width:425px){
  .info-video iframe{
    height: 90%;
  }
}

@media(max-width:320px){
  .info-video iframe{
    height: 65%;
     margin-bottom: 30px;

  }
}